$color-blue: #007ac9;
$color-dark-gray: #333333;
$color-green: #4ea700;
$color-light-gray: #f2f5f7;
$color-light-gray-accent: #ddd;
$color-mid-gray: #999;
$color-mid-gray-accent: #666;
$color-red: #ca4000;
$color-white: #fff;
$color-yellow: #fbb701;
