$space-unit: 1rem;

$space-unit-xxs: 0.25 * $space-unit;
$space-unit-xs: 0.5 * $space-unit;
$space-unit-sm: 0.75 * $space-unit;
$space-unit-md: 1.25 * $space-unit;
$space-unit-lg: 2 * $space-unit;
$space-unit-xl: 3.25 * $space-unit;
$space-unit-xxl: 5.25 * $space-unit;
